@model List<Question>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Question</title>
</head>

<body>
    <h1>Questions Index</h1>
    <p><a asp-controller="Question" asp-action="Create" class="btn btn-primary">New Question</a></p>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Question</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var question in Model)
        {
            <tr>
                <td><a asp-controller="Question" asp-action="Details" asp-route-id="@question.Id">@question.Id</a></td>
                <td>@question.Questions</td>
                <td><a asp-controller="Question" asp-action="Edit" asp-route-id="@question.Id">Edit</a></td>
                <td><a asp-controller="Question" asp-action="Delete" asp-route-id="@question.Id">Delete</a></td>
            </tr>
        }
    </table>
</body>

</html>